@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'), url(./assets/fonts/static/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: local('Inter-SemiBold'), url(./assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter-Bold'), url(./assets/fonts/static/Inter-Bold.ttf) format('truetype');
}

body,
html {
    width: 100%;
    margin: 0;
    font-family: 'Inter-Regular';
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.card {
    padding: 40px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
}

.picture {
    width: 5em;
}

.picture img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.name {
    margin-top: 25px;
    font-family: 'Inter-SemiBold';
    font-size: 22px;
}


.address {
    margin-top: 5px;
    font-family: 'Inter-Bold';
    color: hsl(75, 94%, 57%);
}

.description {
    margin-top: 25px;
    color: hsl(0, 0%, 90%)
}


.links {
    margin-top: 20px;
    width: 22em;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 12px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5em;
}

.link-container > a {
    font-family: 'Inter-Bold';
}
